<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/navbar") %> <% if(!user) {%>
    <p>Welcome to TOPBOOK. Please <a href="/login">log in</a>.</p>
    <% } else { %>
    <h1 class="greeting">Hello <%= user.name %></h1>
    <% } %>
  </body>
</html>
