<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/navbar") %>
    <p>
      <!-- https://github.com/logos -->
      <img src="/images/githublogo.png" alt="" />
      <a href="/login/github">Log in with Github</a>
    </p>
  </body>
</html>
