<!DOCTYPE html>
<html>
  <head>
    <title>TOPBOOK</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>TOPBOOK</h1>
    <p><a href="/login/github">Log in with Github</a></p>
  </body>
</html>
